:root {
    --bs-border-radius: 0.75rem;
}

body {

    .card {
        margin: 1rem 0;
        width: 100%;
        text-align: left;
    }

    a {
        transition: all 0.15s ease;
        text-decoration: none;
        color: #cffcff;
    }

    a:hover {
        cursor: pointer;
        color: color-mix(in srgb, var(--bs-primary), white 40%);
        text-decoration: underline;
    }

    a.red {
        color: var(--bs-danger-text-emphasis);
    }

    a.red:hover {
        color: var(--bs-danger);
    }

    a.green {
        color: color-mix(in srgb, var(--bs-green), white 40%);
    }

    a.green:hover {
        color: var(--bs-green);
    }

    a.yellow {
        color: color-mix(in srgb, var(--bs-yellow), white 40%);
    }

    a.yellow:hover {
        color: var(--bs-yellow);
    }

    a.error {
        opacity: 0.75;
        cursor: not-allowed;
        text-decoration: none;
        color: var(--bs-danger);
    }

    a.btn-primary {
        border: 1px solid var(--bs-primary-text-emphasis);
    }

    a.btn-primary:hover {
        border: 1px solid var(--bs-primary);
    }

    a.btn-secondary {
        border: 1px solid var(--bs-secondary-text-emphasis);
    }

    a.btn-secondary:hover {
        border: 1px solid var(--bs-secondary);
    }

    a.btn-light {
        background: #dadada;
        border: 1px solid var(--bs-light-text-emphasis);
    }

    a.btn-light:hover {
        background: #afafaf;
        border: 1px solid #dadada;
    }

    a.btn:hover {
        text-decoration: none;
    }

    #footer {
        user-select: none;
        height: 8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: black;
        margin: 4rem 0 0 0;

        p {
            margin: 0;
        }
    }

    .glass {
        background: linear-gradient(145deg, #ffffff25, #ffffff10);
        backdrop-filter: blur(12px) !important;
        box-shadow: 0 0 1rem #00000050;

        .card-header {
            background-color: #ffffff10;
        }

        .card-body {
            background: none;
        }
    }
}